@charset "UTF-8";

body {
	background-color: #72C132;
}

.tool_bar {
	display: flex;
	top: 0;
	z-index: 1;
	justify-content: center;
}

.tool_bar img {
	border: 2px solid black;
	background-color: #b1b1b1;
	cursor: pointer;
}

.row {
	display: flex;
    position: relative;
	justify-content: center;
    margin-top: 128px;
}

.pot, .plant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    position: flex;
    width: 188px;
    z-index: 1;
}

.plant {
    position: absolute;
    bottom: 48px;
    display: flex;
    height: 128px;
    z-index: 2;
}

.plant img {
    position: absolute;
    bottom: -32px;
    left: 0;
    transform: translateY(-50%);
    height: auto;
}
